In [40]:
import pandas as pd
import os

In [33]:

# Define the relative path from the notebook to the data file
games_filename = os.path.join('..', 'data', 'raw', 'games.csv')

print(f"Relative path: {games_filename}")

# Check if the file exists
if os.path.exists(games_filename):
    df_games = pd.read_csv(games_filename)
    print(df_games.columns)
else:
    print(f"The file {games_filename} does not exist.")
df_games.head(1)

Relative path: ../data/raw/games.csv
Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1

In [39]:
subset_columns = ['SEASON', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'PTS_home', 'PTS_away', 'FG3_PCT_home', 'FG3_PCT_away', 'FT_PCT_home', 'FT_PCT_away'] 

# Select the subset of columns
df_games_subset = df_games[subset_columns].copy()
df_games_subset.dtypes

df_games_subset['total_points'] = df_games_subset['PTS_home'] + df_games_subset['PTS_away']
df_games_subset['FG3_PCT_avg'] = (df_games_subset['FG3_PCT_home'] + df_games_subset['FG3_PCT_away']) / 2
df_games_subset['FT_PCT_avg'] = (df_games_subset['FT_PCT_home'] + df_games_subset['FT_PCT_away']) / 2
df_games_subset

,SEASON,HOME_TEAM_ID,VISITOR_TEAM_ID,PTS_home,PTS_away,FG3_PCT_home,FG3_PCT_away,FT_PCT_home,FT_PCT_away,total_points,FG3_PCT_avg,FT_PCT_avg
0,2022,1610612740,1610612759,126.0,117.0,0.382,0.321,0.926,0.815,243.0,0.3515,0.8705
1,2022,1610612762,1610612764,120.0,112.0,0.457,0.333,0.952,0.765,232.0,0.3950,0.8585
2,2022,1610612739,1610612749,114.0,106.0,0.313,0.433,0.786,0.682,220.0,0.3730,0.7340
3,2022,1610612755,1610612765,113.0,93.0,0.297,0.261,0.909,0.735,206.0,0.2790,0.8220
4,2022,1610612737,1610612741,108.0,110.0,0.378,0.292,1.000,0.773,218.0,0.3350,0.8865
...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2014,1610612737,1610612740,93.0,87.0,0.421,0.375,0.821,0.643,180.0,0.3980,0.7320
26647,2014,1610612741,1610612764,81.0,85.0,0.381,0.267,0.719,0.636,166.0,0.3240,0.6775
26648,2014,1610612747,1610612743,98.0,95.0,0.500,0.500,0.682,0.659,193.0,0.5000,0.6705
26649,2014,1610612761,1610612758,99.0,94.0,0.333,0.385,0.771,0.725,193.0,0.3590,0.7480
26650,2014,1610612748,1610612740,86.0,98.0,0.333,0.438,0.679,0.706,184.0,0.3855,0.6925